{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ recipe_object.title }} </title>
    <link rel="stylesheet" href="{% static "css/recipes.css" %}">
    <nav>
    <a href="{% url 'recipe_list' %}">Main Page</a>
    </nav>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <main>
        <h1> {{recipe.title}}</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button>Edit</button>
        </form>
    </main>
    <footer>
        Made with love by Scrumptious Recipes
    </footer>
</body>
</html>