{% extends 'base.html' %}
{% load static %}

{% block title %}
  Scrumptious recipes
{% endblock title %}


{% block content %}
  <header>
    <nav class="backdrop">
      <a href="{% url "recipe_list" %}">Main page</a>
      <a href="{% url 'create_recipe' %}">Create a recipe</a>
    </nav>
  </header>
  <main>
    <h1 class="Scrump">Scrumptious Recipes</h1>
    <h2>All the food that's fit to eat</h2>
    
    <div class="recipe-grid">
        {% for recipe in recipe_list %}
    <div>
      <h3>
        <a href={% url "show_recipe" recipe.id %}>{{ recipe.title }}</a>
      </h3>
      <img src="{{ recipe.picture }}">
      <div>4.3🐱‍💻 stars</div>
      <p>{{ recipe.created_on|date:"F d" }}</p>
    </div>
    {% endfor %}
    </div>
  </main>
  {% endblock content %}
  <footer class="love">
    Made with love by Scrumptious Recipes
  </footer>
</body>
</html>
