body {
    margin: 0;
    padding: 0;
}
main {
    padding: 16px;
}
footer {
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 0;
    padding-right: 0;
}
img {
    height: 200px;
}
nav{
    
    border-bottom: 1px solid black;
    padding: 16px;
}

th {
    text-align: left;
}

table {
    border-spacing: 15px;
    border: 1px;color: solid black;
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    padding: 10px;
}

.taco{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    padding: 20px;
}

a{
    text-decoration: none;color: #44803F;
}

.a1{
    color: white;
}

h1{
    color: #44803F;
}

.backdrop{
    background-color: #FF5A33;
}

.love{
    background-color: #B4CF66;
    padding: 36px;
    font-size: x-large;
}

.Scrump{
    color: #146152;
}

tr:nth-child(even) {
    background-color: rgb(224, 222, 222);

}
